{% extends 'base.html' %}
{% block content %}
<style>
    .container {

        position: relative;
        bottom: -30px;
        width: 900px;
        height: 600px;
        border: 2px black solid;
        border-radius: 8px;
        overflow-y: auto;
    }


    .table {
        position: relative;
        width: 450px;
        height: 100px;
        left: 350px;
        bottom: -0.5%;

    }

    .picture {
        position: relative;
        top: -35%;


    }

    .text {
        position: relative;
        width: 820px;
        top: -30%;
        height: 245px;

        padding: 30px;
    }

    h3 {
        position: relative;
        margin-top: 10px;
    }
</style>


<div class="container">
    <h3>{{ bicycle.model_name }}</h3>
    <table class="table table-sm  table-bordered table-hover">
        <tr>
            <th scope="row">Frame Material</th>
            <td>{{ bicycle.frame_material }}</td>
        </tr>
        <tr>

            <th scope="row">Wheel Size</th>
            <td>{{ bicycle.wheel_size }}</td>

        </tr>


        <tr>

            <th scope="row">Suspension Type</th>
            <td>{{ bicycle.suspension_type }}</td>
        </tr>
        <tr>

            <th scope="row">Battery Capacity (W/h)</th>
            <td>{{ bicycle.battery_capacity }}</td>
            </thead>
        </tr>
        <tr>

            <th scope="row">Motor Power (W)</th>
            <td>{{ bicycle.motor_power }}</td>

        </tr>
        <tr>

            <th scope="row">Maximum Speed (Km/h)</th>
            <td>{{ bicycle.maximum_speed_kmh }}</td>

        </tr>
        <tr>

            <th scope="row">Max Distance (Km)</th>
            <td>{{ bicycle.max_distance_km }}</td>

        </tr>
        <tr>

            <th scope="row">Weight (Kg)</th>
            <td>{{ bicycle.weight }}</td>

        </tr>
        <tr>

            <th scope="row">Foldable</th>
            <td>{{ bicycle.foldable }}</td>

        </tr>

    </table>
    <img class="picture" src="{{ bicycle.vehicle_pic.url }}" width="300" height="225" />
    <div class="text">{{bicycle.description}}</div>
</div>
{% endblock %}