<table>
    <thead>
        <tr>
            <th>Object ID</th>
            <th>DateTimeField</th>
        </tr>
    </thead>
    <tbody>
        {% for auction in queries %}
        <tr>
            <td>{{ auction.pk }}</td>
            <td id="datetime-{{ auction.pk }}">{{ auction.auction_time.isoformat}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script>
    // Get all the auction time elements and convert them to Moment objects
    var auctionTimes = document.querySelectorAll('[id^="datetime-"]');
    auctionTimes.forEach(function (timeElement) {
        var timeString = timeElement.textContent;
        var timeMoment = moment(timeString, "YYYY-MM-DDTHH:mm:ss.SSSZ");
        timeElement.dataset.timestamp = timeMoment.format('X');
    });

    // Update the time remaining every second
    setInterval(function () {
        auctionTimes.forEach(function (timeElement) {
            var timestamp = timeElement.dataset.timestamp;
            var timeMoment = moment.unix(timestamp);
            var timeRemaining = timeMoment.fromNow();
            timeElement.textContent = timeRemaining;
        });
    }, 1000);
</script>